<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bakeology</title>
    <link rel="stylesheet" href="/css/my-styles.css">
</head>
<body>
     <header> 
        <nav>
            <ul>
                <li><a href="/"> Home</a></li>
                <li><a href="/recipes">Recipes</a></li>
                <li><a href="/ingredients">Ingredients</a></li>
                 <li><a href="/about"> About</a></li>
                <li><a href="/contact">Contact</a></li>
                {{#if user}} 
                    <li>Hello, {{user.username}}!</li>
                    <li>
                        <form action="/logout" method="post" style="display:inline;">
                            <button type="submit" class="logout-button">Logout</button>
                        </form>
                    </li>
                {{else}}
                    <a href="/login">Login</a>
                {{/if}}
            </ul>
        </nav>
    </header>
    {{{body}}}
</body>
</html>