<div>
    <h1>About</h1>
    <p>Welcome to Bakeology - where science meets sweetness!<br> 
Our mission is simple: to share the joy of baking through delicious and easy-to-follow recipes<br> 
Here you will find a collection of pastries, cakes, cookies, and other sweet treats, all carefully crafted to inspire your creativity in the kitchen.</p>
</div>