<div>
    <h1>Recipes</h1>
    <div>
        <lu>
            {{#each recipes}}
                <li>
                    {{rID}} - {{name}} - {{Origen}}
                </li>
            {{/each}}
        </lu>
    </div>
</div>